* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 700px;
    padding-top: 30px;
    margin: auto;
    margin-top: 60px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}

main table {
    padding: 20px;
    border-spacing: 40px;

}

main th {
    font-size: 24px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
.pop{
    background-color:rgba(0, 0, 0, 0.377);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
}
.pop-content{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;      
    border: 1px solid gray; 
    width: 600px;                                   
    background-color: white;    
    z-index: 20;      
    padding: 20px ;
    border-radius: 8px;
    margin: auto;
    margin-top: 200px;



}

.mark table{
margin-top: 20px;
}
.mark th{
    padding-right: 12px;
    padding-bottom: 12px;
}
.student{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    header{
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    header h1{
        font-size: 14px;


    }
    main{
        height: auto;
        width: 95vw;
        margin-top: 20px;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    main h2{
        font-size: 18px;

    }
    main table{
        border-spacing: 8px;
        width: 100%;
    }
    main th{
        font-size: 16px;
    }
    button{
        padding: 6px 5px;
        border: none;
        background-color: green;
        color: white;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
    }
    .pop-content{
        width: 100%;
    }
    
}